* {
  padding: 0;
  margin: 0;
}
body {
  font-family: "Variable Axes", sans-serif;
}
a {
  text-decoration: none;
  color: #8e8ea0;
  font-weight: bold;
}
.navigation {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 100px;
}
.title {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  color: #1303f1;
  font-size: 26px;
  font-weight: bold;
}
.links-a {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 5x;
  width: 720px;
}
.box-a {
  display: flex;
  margin: 5px;
  width: 100px;
  justify-content: center;
  align-items: center;
  padding: 15px;
  border-radius: 6px;
}
.box-a:hover {
  background-color: #1303f1;
  box-shadow: 3px 15px 30px -12px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 3px 15px 30px -12px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 3px 15px 30px -12px rgba(0, 0, 0, 0.56);
  a {
    color: #ffffff;
  }
}
.info-one {
  display: flex;
}
.info-two {
  display: flex;
  width: 50%;
  flex-direction: column;
}
.image-o {
  display: flex;
  width: 50%;
  height: 700px;
  background-color: #1303f1;
}
.img-a {
  width: 100%;
  object-fit: cover;
  object-fit: center;
}
.title-v {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 200px;
}
.vac {
  display: flex;
  font-size: 50px;
  width: 520px;
  font-weight: bold;
  color: #1d2f6b;
}
.description {
  display: flex;
  height: 110px;
  justify-content: center;
  align-items: center;
}
.desc {
  display: flex;
  width: 520px;
  height: 100%;
  align-items: center;
  text-align: justify;
  font-size: 17px;
  font-weight: bold;
  color: #8e8ea0;
  line-height: 25px;
}
.icon-desc {
  display: flex;
  height: 35px;
  justify-content: center;
  justify-content: space-around;
}
.start {
  display: flex;
  align-items: center;
  margin: 2px;
  padding: 3px;
  font-size: 15px;
  font-weight: bold;
  justify-content: center;
}
.ico {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 25px;
  height: 25px;
  padding: 2px;
  margin: 5px;
  color: rgb(255, 213, 75);
  background-color: #fcffee;
}
.text-cov {
  color: #1d2f6b;
}
.program {
  display: flex;
  height: 130px;
  justify-content: center;
  align-items: flex-end;
}
.box-clock {
  display: flex;
  padding: 3px;
  margin: 6px;
  width: 520px;
  align-items: center;
}
.clock {
  display: flex;
  padding: 5px;
  border-radius: 5px;
  color: #1303f1;
  background-color: rgb(217, 227, 255);
  box-shadow: 1px 11px 24px -8px rgba(0, 0, 0, 0.75);
}
.program-1 {
  display: flex;
  font-size: 19px;
  font-weight: bold;
  color: #1d2f6b;
  margin-left: 3px;
}
.box-2 {
  display: flex;
  top: 20px;
  left: 75px;
  z-index: 4;
  width: 800px;
  height: 130px;
  border-radius: 5px;
  position: relative;
  opacity: 0.9;
  align-items: center;
  justify-content: space-around;
  box-shadow: 2px 13px 21px -3px rgba(184, 212, 255, 0.75);
  background-color: #ffffff;
}
.btn-a {
  display: flex;
  width: 120px;
  height: 45px;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-color: #1303f1;
}
.btn-a:hover {
  border: 1px solid #1303f1;
  background-color: #ffffff;
  .btn-text {
    color: #1303f1;
  }
}
.btn-text {
  color: #ffffff;
}
.icon-p {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  width: 22px;
  height: 22px;
  color: #1303f1;
  background-color: rgb(217, 227, 255);
  box-shadow: 1px 11px 24px -8px rgba(0, 0, 0, 0.75);
}
.box-in {
  display: flex;
  width: auto;
  height: 60px;
}
.group-t {
  display: flex;
  flex-direction: column;
  margin: 5px;
}
.estate {
  color: #a9a9b1;
  font-weight: 500;
}
.estate-s {
  display: flex;
  margin-top: 10px;
  height: 100%;
  align-items: center;
  font-size: 19px;
  font-weight: bold;
  color: #1d2f6b;
}
.card-brad {
  display: flex;
  height: 250px;
  align-items: center;
  justify-content: space-between;
}
.brad {
  display: flex;
  width: 100%;
  height: 50px;
  margin: 10px;
  opacity: 0.2;
  filter: grayscale(1);
  justify-content: center;
}
.box-characters {
  display: flex;
  height: 700px;
  flex-direction: column;
}
.title-thre {
  display: flex;
  padding: 3px;
  margin: 6px;
}
.title-th {
  display: flex;
  padding: 3px;
  width: 520px;
  font-weight: 800;
  margin-left: 60px;
  font-size: 28px;
  color: #1d2f6b;
}
.four-b {
  display: flex;
  padding: 3px;
  margin: 5px;
  height: 80px;
}
.description-ht {
  display: flex;
  padding: 3px;
  width: 520px;
  font-weight: bold;
  font-size: 17px;
  line-height: 25px;
  align-items: center;
  color: #8e8ea0;
  margin-left: 60px;
}
.four-cards {
  display: flex;
  height: 100%;
  padding: 3px;
  margin: 6px;
  align-items: center;
  justify-content: space-around;
}
.card-ch {
  display: flex;
  width: 250px;
  height: 310px;
  padding: 10px;
  flex-direction: column;
  border-radius: 5px;
  border: solid 4px #fcfcfc;
  
}
.icon-c {
  display: flex;
  border-radius: 5px;
  width: 47px;
  height: 47px;
  color: #1303f1;
  background-color: rgb(217, 227, 255);
}
.title-card {
  display: flex;
  width: 220px;
  height: 70px;
  font-size: 25px;
  font-weight: bold;
  color: #1d2f6b;
  margin-top: 25px;
  line-height: 27px;
  align-items: center;
}
.description-card {
  height: 100px;
  font-weight: bold;
  align-items: center;
  font-size: 15px;
  color: #a9a9b1;
  line-height: 30px;
  margin-top: 30px;
  display: flex;
  width: 220px;
}
.info-thre{
    display: flex;
    height: 700px;
}
.ic{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-size: 28px;
}
.card-preparation{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.description-indication{
    display: flex;
    height: auto;
    padding: 5px;
    justify-content: center;
}
.description-i{
    display: flex;
    width: 530px;
    padding: 5px;
    font-size: 17px;
    color: #8e8ea0;
    font-weight: bold;
    line-height: 28px;
    align-items: center;
}
.group-list{
  display: flex;
  height: 100%;
  padding: 5px;
  flex-direction: column;
  align-items: center;
 
}
.list{
  display: flex;
  height: 50px;
  width: 400px;
  margin: auto;
  align-items: center;
  border-radius: 5px;
  box-shadow: -2px 7px 6px -6px rgba(0,0,0,0.19);
  justify-content: space-between;

}
.group-2{
  display: flex;
}
.icon-list{
  display: flex;
  width: 20px;
  height: 20px;
  margin-right: 15px;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  color: #1303f1;
  cursor: pointer;
  background-color: #f7f7f7;
}
.icon-list-1{
display: flex;
margin: 5px;
width: 35px;
height: 35px;
justify-content: center;
align-items: center;
border-radius: 5px;
color: #1303f1;

background-color: #f7f7f7;
}
.title-list{
display: flex;
margin: 5px;
font-weight: bold;
color: #1d2f6b;
align-items: center;
font-size: 15px;

}
.list:hover{
  .icon-list{
    border: solid 2px #ffffff;
    box-shadow: 2px 13px 21px -3px rgba(174, 211, 253, 0.815);
  }
  .icon-list-1{
    border: solid 2px #ffffff;
    box-shadow: 2px 13px 21px -3px rgba(174, 211, 253, 0.815);
  }

}
.card-ch:hover {
  box-shadow: 2px 13px 21px -3px rgba(174, 211, 253, 0.815);
  .icon-c{
      border: solid 2px #ffffff;
      box-shadow: 2px 13px 21px -3px rgba(174, 211, 253, 0.815);
  }
}
.info-four{
  display: flex;
  height: 700px;
}
.card-contact{
  display: flex;
  width: 50%;
  flex-direction: column;
}
.cards-c{
  display: flex;
  height: 100%;
  width: 600px;
  flex-wrap: wrap;
  margin-left: 20px;
  align-items: center;
  justify-content: center;
  
}
.card-chat{
  display: flex;
  width: 240px;
  height: 200px;
  margin: auto;
  justify-content: center;
  border-radius: 5px;
  flex-direction: column;
  border: 2px solid #f7f7f7;
  background-color: #ffffff;
}
.box-call{
  display: flex;
  margin: 15px;
  padding: 5px;
}
.number{
  display: flex;
  margin: 5px;
  flex-direction: column;

}
.call-t{
  display: flex;
  font-size: 20px;
  font-weight: 500;
  color: #1d2f6b;
}
.sub{
  display: flex;
  font-size: 14px;
  color: #a9a9b1;
  margin-top: 6px;
}
.btn-call{
  display: flex;
  margin: 15px;
  padding: 5px;
  width: auto;
  align-items: center;
  justify-content: center;
}
.btn-callme{
  display: flex;
  height: 45px;
  width: 150px;
  cursor: pointer;
  align-items: center;
  border-radius: 5px;
  justify-content: center;
  background-color: #eef0ff;
}
.ab{
  color: #1303f1;
}
.card-chat:hover{
  box-shadow: 2px 13px 21px -3px rgba(174, 211, 253, 0.815);
  .btn-callme{
    background-color: #1303f1;
  }
  .ab{
    color: #ffffff;
  }
  .icon-c{
    border: solid 2px #ffffff;
    box-shadow: 2px 13px 21px -3px rgba(174, 211, 253, 0.815);
  }
}
.foo{
  display: flex;
  width: 100%;
  height: 260px;
  background-color: #eef0ff;;
}
.credits{
display: flex;
width: 400px;
height: 100%;
flex-direction: column;
align-items: center;
justify-content: center;
font-weight: 700;
}
.our{

  display: flex;
  width: 200px;
  height: 100px;
  align-items: center;
  text-align: center;
  line-height: 30px;
  font-size: 16px;
  color: #a9a9b1;
}
.about{
  display: flex;
  justify-content: end;
  width: 100%;
  
}
.tbx{
  display: flex;
   table-layout: auto;
   align-items:center;
   border-spacing: 15px;
   margin: 15px;
   width: 600px;
}
th{
  color: #1d2f6b;
  font-size: 18px;
}
td{
  cursor: pointer;
  text-align: center;
  color: #a9a9b1;
  font-size: 15px;
}

@media screen and (max-width: 920px) {
  .navigation {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  .links-a {
    width: auto;
    flex-wrap: wrap;
  }
  .box-a {
    width: auto;

    border: solid 1px #1303f1;
  }
}
